.table {
    width: 100%;
    text-align: left;
    line-height: 1.2rem; 
    border-collapse: inherit;
    border-radius: 6px;
    border-spacing: 0 6px;
    margin: 16px 0;
    background: #EAE6E0;
    padding: 0 14px;
    
}

.table>tbody>tr td:first-child { border-top-left-radius: 4px; }
.table>tbody>tr td:last-child { border-top-right-radius: 4px; }
.table>tbody>tr td:first-child { border-bottom-left-radius: 4px; }
.table>tbody>tr td:last-child { border-bottom-right-radius: 4px; width: 200px;}

.table>thead {
    line-height: 26px;
}

.table>tbody>tr {
    background-color: #fff;
}
.table>thead>tr>th {
    background: none;
    color: #30201C;
    padding: 0 12px;
}

.tableRow>td {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 12px;
    padding: 20px 12px;
    color: #5a5a5a;
    
}
.row {
    display: flex;
    width: 100%;
    color: #fff;
    padding: 18px;
    margin: 4px 12px;
    border-radius: 8px;
    cursor: pointer;
}


.table>thead>tr>th {
    font-size: 0.9rem;
    font-weight: 500;
    color: #62534f;
    
}

.mobileHeadings {
    font-weight: 700;
    display: none;
}


@media screen and (max-width: 600px) {
    .btnGroup {
        margin-left: 10px;
    }
    .btnGroup>button {
        display: block;    
     }

     .tableRow>td {
        display: block;
        height: auto;
        margin: 0;
        padding: 6px 18px;
        
     }
     .tableRow>td:first-child {
        padding-top: 16px;
    }
     .tableRow>td:last-child {
         padding-bottom: 16px;
     }

     
     .table>thead {
         display: none;
     }
     .mobileHeadings {
        font-weight: 700;
        display: inline-block;
    }
    .selectContainer {
        margin-left: 10px;
    }
    .categoryWrapper {
        justify-content: start !important;
    }

     .categoryName {
        display: none  !important;
    }
}

.catMobile {
    font-weight: 600;
}
.btnGroup {
    border-bottom: 1px solid #d9d9d938;
    margin-bottom: -2px;
}
.btnGroup>button {
    margin: 6px 4px 0 0;
    padding: 8px 12px;
    border-bottom: 4px solid #30201C;
    font-size: 15px;
    background: none;
    color: #ccc;
    line-height: 16px;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
}
.btnGroup>button:hover {
    /* background-color: #F65329; */
    border-bottom: 4px solid #ccc;
}

.btnDoneActive {
    color: #009f08 !important;
    border-bottom: 4px solid #009f08  !important;
}



.btnNotDoneActive {
    color: #ff4716 !important;
    border-bottom: 4px solid #ff4716 !important;
}



.btnInProgressActive {
    color: #ffd500 !important;
    border-bottom: 4px solid #ffd500 !important;
}


.btnAllActive {
    color: #fff !important;
    border-bottom: 4px solid #fff !important;
}

.btnAllActive:hover,
.btnNotDoneActive:hover,
.btnDoneActive:hover,
.btnInProgressActive:hover
 {
    border: none;
}

.categoryWrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
}
.categoryButton {
    margin: 12px;
    padding-bottom: 2px;
    border-bottom: 2px solid #31201c !important;
    cursor: pointer;
}
.categoryButtonActive {
    margin: 12px;
    border-bottom: 2px solid #ff4716 !important;
    margin-bottom: 2px;
    cursor: pointer;
}

.categoryButton:hover {
    border-bottom: 2px solid #ccc;
    margin-bottom: 2px;
}

.categoryIcon {
    display: inline-block;
    fill: #ccc !important;
    margin: -4px 0;
}

.categoryIconActive {
    display: inline-block;
    fill: #ff4716 !important;
    margin: -4px 0;
}

.categoryName {
    color: #ccc;
    display: inline-block;
    margin: 0 0 0 8px;
    font-size: 0.9rem
}

.categoryNameActive {
    color: #ccc;
    display: inline-block;
    margin: 0 0 0 8px;
    font-size: 0.9rem;
    color: #ff4716 !important;
}

